<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_coupon_spu_category_relation 优惠券分类关联 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.CouponSpuCategoryRelationMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.CouponSpuCategoryRelation">
		<id property="id" column="id" />
		<result property="couponId" column="coupon_id"/>
		<result property="categoryId" column="category_id"/>
		<result property="categoryName" column="category_name"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`coupon_id`,
		`category_id`,
		`category_name`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_coupon_spu_category_relation
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.CouponSpuCategoryRelation">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_coupon_spu_category_relation
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="couponId!=null ">
				AND coupon_id like concat('%',concat(#{couponId},'%'))
			</if>
			<if test="categoryId!=null ">
				AND category_id like concat('%',concat(#{categoryId},'%'))
			</if>
			<if test="categoryName!=null and categoryName!=''">
				AND category_name like concat('%',concat(#{categoryName},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.CouponSpuCategoryRelation">
		INSERT INTO sms_coupon_spu_category_relation
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{couponId}, #{categoryId}, #{categoryName}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.CouponSpuCategoryRelation">
		UPDATE sms_coupon_spu_category_relation
		SET 
			<if test="couponId!=null ">
				coupon_id = #{couponId}
,			</if>
			<if test="categoryId!=null ">
				category_id = #{categoryId}
,			</if>
			<if test="categoryName!=null and categoryName!=''">
				category_name = #{categoryName}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_coupon_spu_category_relation where id = #{id}
	</delete>

</mapper>
