<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_coupon_history 优惠券领取历史记录 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.CouponHistoryMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.CouponHistory">
		<id property="id" column="id" />
		<result property="couponId" column="coupon_id"/>
		<result property="memberId" column="member_id"/>
		<result property="memberNickName" column="member_nick_name"/>
		<result property="getType" column="get_type"/>
		<result property="useType" column="use_type"/>
		<result property="useTime" column="use_time"/>
		<result property="orderId" column="order_id"/>
		<result property="orderSn" column="order_sn"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`coupon_id`,
		`member_id`,
		`member_nick_name`,
		`get_type`,
		`use_type`,
		`use_time`,
		`order_id`,
		`order_sn`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_coupon_history
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.CouponHistory">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_coupon_history
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="couponId!=null ">
				AND coupon_id like concat('%',concat(#{couponId},'%'))
			</if>
			<if test="memberId!=null ">
				AND member_id like concat('%',concat(#{memberId},'%'))
			</if>
			<if test="memberNickName!=null and memberNickName!=''">
				AND member_nick_name like concat('%',concat(#{memberNickName},'%'))
			</if>
			<if test="getType!=null ">
				AND get_type like concat('%',concat(#{getType},'%'))
			</if>
			<if test="useType!=null ">
				AND use_type like concat('%',concat(#{useType},'%'))
			</if>
			<if test="useTime!=null ">
				AND use_time like concat('%',concat(#{useTime},'%'))
			</if>
			<if test="orderId!=null ">
				AND order_id like concat('%',concat(#{orderId},'%'))
			</if>
			<if test="orderSn!=null ">
				AND order_sn like concat('%',concat(#{orderSn},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.CouponHistory">
		INSERT INTO sms_coupon_history
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{couponId}, #{memberId}, #{memberNickName}, #{getType}, #{useType}, #{useTime}, #{orderId}, #{orderSn}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.CouponHistory">
		UPDATE sms_coupon_history
		SET 
			<if test="couponId!=null ">
				coupon_id = #{couponId}
,			</if>
			<if test="memberId!=null ">
				member_id = #{memberId}
,			</if>
			<if test="memberNickName!=null and memberNickName!=''">
				member_nick_name = #{memberNickName}
,			</if>
			<if test="getType!=null ">
				get_type = #{getType}
,			</if>
			<if test="useType!=null ">
				use_type = #{useType}
,			</if>
			<if test="useTime!=null ">
				use_time = #{useTime}
,			</if>
			<if test="orderId!=null ">
				order_id = #{orderId}
,			</if>
			<if test="orderSn!=null ">
				order_sn = #{orderSn}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_coupon_history where id = #{id}
	</delete>

</mapper>
