<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_coupon 优惠券信息 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.CouponMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.Coupon">
		<id property="id" column="id" />
		<result property="couponType" column="coupon_type"/>
		<result property="couponImg" column="coupon_img"/>
		<result property="couponName" column="coupon_name"/>
		<result property="num" column="num"/>
		<result property="amount" column="amount"/>
		<result property="perLimit" column="per_limit"/>
		<result property="minPoint" column="min_point"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="useType" column="use_type"/>
		<result property="note" column="note"/>
		<result property="publishCount" column="publish_count"/>
		<result property="useCount" column="use_count"/>
		<result property="receiveCount" column="receive_count"/>
		<result property="enableStartTime" column="enable_start_time"/>
		<result property="enableEndTime" column="enable_end_time"/>
		<result property="code" column="code"/>
		<result property="memberLevel" column="member_level"/>
		<result property="publish" column="publish"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`coupon_type`,
		`coupon_img`,
		`coupon_name`,
		`num`,
		`amount`,
		`per_limit`,
		`min_point`,
		`start_time`,
		`end_time`,
		`use_type`,
		`note`,
		`publish_count`,
		`use_count`,
		`receive_count`,
		`enable_start_time`,
		`enable_end_time`,
		`code`,
		`member_level`,
		`publish`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_coupon
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.Coupon">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_coupon
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="couponType!=null ">
				AND coupon_type like concat('%',concat(#{couponType},'%'))
			</if>
			<if test="couponImg!=null and couponImg!=''">
				AND coupon_img like concat('%',concat(#{couponImg},'%'))
			</if>
			<if test="couponName!=null and couponName!=''">
				AND coupon_name like concat('%',concat(#{couponName},'%'))
			</if>
			<if test="num!=null ">
				AND num like concat('%',concat(#{num},'%'))
			</if>
			<if test="amount!=null ">
				AND amount like concat('%',concat(#{amount},'%'))
			</if>
			<if test="perLimit!=null ">
				AND per_limit like concat('%',concat(#{perLimit},'%'))
			</if>
			<if test="minPoint!=null ">
				AND min_point like concat('%',concat(#{minPoint},'%'))
			</if>
			<if test="startTime!=null ">
				AND start_time like concat('%',concat(#{startTime},'%'))
			</if>
			<if test="endTime!=null ">
				AND end_time like concat('%',concat(#{endTime},'%'))
			</if>
			<if test="useType!=null ">
				AND use_type like concat('%',concat(#{useType},'%'))
			</if>
			<if test="note!=null and note!=''">
				AND note like concat('%',concat(#{note},'%'))
			</if>
			<if test="publishCount!=null ">
				AND publish_count like concat('%',concat(#{publishCount},'%'))
			</if>
			<if test="useCount!=null ">
				AND use_count like concat('%',concat(#{useCount},'%'))
			</if>
			<if test="receiveCount!=null ">
				AND receive_count like concat('%',concat(#{receiveCount},'%'))
			</if>
			<if test="enableStartTime!=null ">
				AND enable_start_time like concat('%',concat(#{enableStartTime},'%'))
			</if>
			<if test="enableEndTime!=null ">
				AND enable_end_time like concat('%',concat(#{enableEndTime},'%'))
			</if>
			<if test="code!=null and code!=''">
				AND code like concat('%',concat(#{code},'%'))
			</if>
			<if test="memberLevel!=null ">
				AND member_level like concat('%',concat(#{memberLevel},'%'))
			</if>
			<if test="publish!=null ">
				AND publish like concat('%',concat(#{publish},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.Coupon">
		INSERT INTO sms_coupon
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{couponType}, #{couponImg}, #{couponName}, #{num}, #{amount}, #{perLimit}, #{minPoint}, #{startTime}, #{endTime}, #{useType}, #{note}, #{publishCount}, #{useCount}, #{receiveCount}, #{enableStartTime}, #{enableEndTime}, #{code}, #{memberLevel}, #{publish}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.Coupon">
		UPDATE sms_coupon
		SET 
			<if test="couponType!=null ">
				coupon_type = #{couponType}
,			</if>
			<if test="couponImg!=null and couponImg!=''">
				coupon_img = #{couponImg}
,			</if>
			<if test="couponName!=null and couponName!=''">
				coupon_name = #{couponName}
,			</if>
			<if test="num!=null ">
				num = #{num}
,			</if>
			<if test="amount!=null ">
				amount = #{amount}
,			</if>
			<if test="perLimit!=null ">
				per_limit = #{perLimit}
,			</if>
			<if test="minPoint!=null ">
				min_point = #{minPoint}
,			</if>
			<if test="startTime!=null ">
				start_time = #{startTime}
,			</if>
			<if test="endTime!=null ">
				end_time = #{endTime}
,			</if>
			<if test="useType!=null ">
				use_type = #{useType}
,			</if>
			<if test="note!=null and note!=''">
				note = #{note}
,			</if>
			<if test="publishCount!=null ">
				publish_count = #{publishCount}
,			</if>
			<if test="useCount!=null ">
				use_count = #{useCount}
,			</if>
			<if test="receiveCount!=null ">
				receive_count = #{receiveCount}
,			</if>
			<if test="enableStartTime!=null ">
				enable_start_time = #{enableStartTime}
,			</if>
			<if test="enableEndTime!=null ">
				enable_end_time = #{enableEndTime}
,			</if>
			<if test="code!=null and code!=''">
				code = #{code}
,			</if>
			<if test="memberLevel!=null ">
				member_level = #{memberLevel}
,			</if>
			<if test="publish!=null ">
				publish = #{publish}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_coupon where id = #{id}
	</delete>

</mapper>
