<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_home_subject 首页专题表 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.HomeSubjectMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.HomeSubject">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="title" column="title"/>
		<result property="subTitle" column="sub_title"/>
		<result property="status" column="status"/>
		<result property="url" column="url"/>
		<result property="sort" column="sort"/>
		<result property="img" column="img"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`name`,
		`title`,
		`sub_title`,
		`status`,
		`url`,
		`sort`,
		`img`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_home_subject
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.HomeSubject">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_home_subject
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="name!=null and name!=''">
				AND name like concat('%',concat(#{name},'%'))
			</if>
			<if test="title!=null and title!=''">
				AND title like concat('%',concat(#{title},'%'))
			</if>
			<if test="subTitle!=null and subTitle!=''">
				AND sub_title like concat('%',concat(#{subTitle},'%'))
			</if>
			<if test="status!=null ">
				AND status like concat('%',concat(#{status},'%'))
			</if>
			<if test="url!=null and url!=''">
				AND url like concat('%',concat(#{url},'%'))
			</if>
			<if test="sort!=null ">
				AND sort like concat('%',concat(#{sort},'%'))
			</if>
			<if test="img!=null and img!=''">
				AND img like concat('%',concat(#{img},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.HomeSubject">
		INSERT INTO sms_home_subject
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{name}, #{title}, #{subTitle}, #{status}, #{url}, #{sort}, #{img}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.HomeSubject">
		UPDATE sms_home_subject
		SET 
			<if test="name!=null and name!=''">
				name = #{name}
,			</if>
			<if test="title!=null and title!=''">
				title = #{title}
,			</if>
			<if test="subTitle!=null and subTitle!=''">
				sub_title = #{subTitle}
,			</if>
			<if test="status!=null ">
				status = #{status}
,			</if>
			<if test="url!=null and url!=''">
				url = #{url}
,			</if>
			<if test="sort!=null ">
				sort = #{sort}
,			</if>
			<if test="img!=null and img!=''">
				img = #{img}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_home_subject where id = #{id}
	</delete>

</mapper>
