<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_home_subject_spu 专题商品 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.HomeSubjectSpuMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.HomeSubjectSpu">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="subjectId" column="subject_id"/>
		<result property="spuId" column="spu_id"/>
		<result property="sort" column="sort"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`name`,
		`subject_id`,
		`spu_id`,
		`sort`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_home_subject_spu
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.HomeSubjectSpu">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_home_subject_spu
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="name!=null and name!=''">
				AND name like concat('%',concat(#{name},'%'))
			</if>
			<if test="subjectId!=null ">
				AND subject_id like concat('%',concat(#{subjectId},'%'))
			</if>
			<if test="spuId!=null ">
				AND spu_id like concat('%',concat(#{spuId},'%'))
			</if>
			<if test="sort!=null ">
				AND sort like concat('%',concat(#{sort},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.HomeSubjectSpu">
		INSERT INTO sms_home_subject_spu
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{name}, #{subjectId}, #{spuId}, #{sort}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.HomeSubjectSpu">
		UPDATE sms_home_subject_spu
		SET 
			<if test="name!=null and name!=''">
				name = #{name}
,			</if>
			<if test="subjectId!=null ">
				subject_id = #{subjectId}
,			</if>
			<if test="spuId!=null ">
				spu_id = #{spuId}
,			</if>
			<if test="sort!=null ">
				sort = #{sort}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_home_subject_spu where id = #{id}
	</delete>

</mapper>
