<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_member_price 商品会员价格 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.MemberPriceMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.MemberPrice">
		<id property="id" column="id" />
		<result property="skuId" column="sku_id"/>
		<result property="memberLevelId" column="member_level_id"/>
		<result property="memberLevelName" column="member_level_name"/>
		<result property="memberPrice" column="member_price"/>
		<result property="addOther" column="add_other"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`sku_id`,
		`member_level_id`,
		`member_level_name`,
		`member_price`,
		`add_other`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_member_price
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.MemberPrice">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_member_price
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="memberLevelId!=null ">
				AND member_level_id like concat('%',concat(#{memberLevelId},'%'))
			</if>
			<if test="memberLevelName!=null and memberLevelName!=''">
				AND member_level_name like concat('%',concat(#{memberLevelName},'%'))
			</if>
			<if test="memberPrice!=null ">
				AND member_price like concat('%',concat(#{memberPrice},'%'))
			</if>
			<if test="addOther!=null ">
				AND add_other like concat('%',concat(#{addOther},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.MemberPrice">
		INSERT INTO sms_member_price
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{skuId}, #{memberLevelId}, #{memberLevelName}, #{memberPrice}, #{addOther}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.MemberPrice">
		UPDATE sms_member_price
		SET 
			<if test="skuId!=null ">
				sku_id = #{skuId}
,			</if>
			<if test="memberLevelId!=null ">
				member_level_id = #{memberLevelId}
,			</if>
			<if test="memberLevelName!=null and memberLevelName!=''">
				member_level_name = #{memberLevelName}
,			</if>
			<if test="memberPrice!=null ">
				member_price = #{memberPrice}
,			</if>
			<if test="addOther!=null ">
				add_other = #{addOther}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_member_price where id = #{id}
	</delete>

</mapper>
