<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_seckill_sku_notice 秒杀商品通知订阅 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.SeckillSkuNoticeMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.SeckillSkuNotice">
		<id property="id" column="id" />
		<result property="memberId" column="member_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="sessionId" column="session_id"/>
		<result property="subcribeTime" column="subcribe_time"/>
		<result property="sendTime" column="send_time"/>
		<result property="noticeType" column="notice_type"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`member_id`,
		`sku_id`,
		`session_id`,
		`subcribe_time`,
		`send_time`,
		`notice_type`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_seckill_sku_notice
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuNotice">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_seckill_sku_notice
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="memberId!=null ">
				AND member_id like concat('%',concat(#{memberId},'%'))
			</if>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="sessionId!=null ">
				AND session_id like concat('%',concat(#{sessionId},'%'))
			</if>
			<if test="subcribeTime!=null ">
				AND subcribe_time like concat('%',concat(#{subcribeTime},'%'))
			</if>
			<if test="sendTime!=null ">
				AND send_time like concat('%',concat(#{sendTime},'%'))
			</if>
			<if test="noticeType!=null ">
				AND notice_type like concat('%',concat(#{noticeType},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuNotice">
		INSERT INTO sms_seckill_sku_notice
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{memberId}, #{skuId}, #{sessionId}, #{subcribeTime}, #{sendTime}, #{noticeType}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuNotice">
		UPDATE sms_seckill_sku_notice
		SET 
			<if test="memberId!=null ">
				member_id = #{memberId}
,			</if>
			<if test="skuId!=null ">
				sku_id = #{skuId}
,			</if>
			<if test="sessionId!=null ">
				session_id = #{sessionId}
,			</if>
			<if test="subcribeTime!=null ">
				subcribe_time = #{subcribeTime}
,			</if>
			<if test="sendTime!=null ">
				send_time = #{sendTime}
,			</if>
			<if test="noticeType!=null ">
				notice_type = #{noticeType}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_seckill_sku_notice where id = #{id}
	</delete>

</mapper>
