<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_seckill_sku_relation 秒杀活动商品关联 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.SeckillSkuRelationMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.SeckillSkuRelation">
		<id property="id" column="id" />
		<result property="promotionId" column="promotion_id"/>
		<result property="promotionSessionId" column="promotion_session_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="seckillPrice" column="seckill_price"/>
		<result property="seckillCount" column="seckill_count"/>
		<result property="seckillLimit" column="seckill_limit"/>
		<result property="seckillSort" column="seckill_sort"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`promotion_id`,
		`promotion_session_id`,
		`sku_id`,
		`seckill_price`,
		`seckill_count`,
		`seckill_limit`,
		`seckill_sort`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_seckill_sku_relation
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuRelation">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_seckill_sku_relation
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="promotionId!=null ">
				AND promotion_id like concat('%',concat(#{promotionId},'%'))
			</if>
			<if test="promotionSessionId!=null ">
				AND promotion_session_id like concat('%',concat(#{promotionSessionId},'%'))
			</if>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="seckillPrice!=null ">
				AND seckill_price like concat('%',concat(#{seckillPrice},'%'))
			</if>
			<if test="seckillCount!=null ">
				AND seckill_count like concat('%',concat(#{seckillCount},'%'))
			</if>
			<if test="seckillLimit!=null ">
				AND seckill_limit like concat('%',concat(#{seckillLimit},'%'))
			</if>
			<if test="seckillSort!=null ">
				AND seckill_sort like concat('%',concat(#{seckillSort},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuRelation">
		INSERT INTO sms_seckill_sku_relation
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{promotionId}, #{promotionSessionId}, #{skuId}, #{seckillPrice}, #{seckillCount}, #{seckillLimit}, #{seckillSort}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.SeckillSkuRelation">
		UPDATE sms_seckill_sku_relation
		SET 
			<if test="promotionId!=null ">
				promotion_id = #{promotionId}
,			</if>
			<if test="promotionSessionId!=null ">
				promotion_session_id = #{promotionSessionId}
,			</if>
			<if test="skuId!=null ">
				sku_id = #{skuId}
,			</if>
			<if test="seckillPrice!=null ">
				seckill_price = #{seckillPrice}
,			</if>
			<if test="seckillCount!=null ">
				seckill_count = #{seckillCount}
,			</if>
			<if test="seckillLimit!=null ">
				seckill_limit = #{seckillLimit}
,			</if>
			<if test="seckillSort!=null ">
				seckill_sort = #{seckillSort}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_seckill_sku_relation where id = #{id}
	</delete>

</mapper>
