<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sms_sku_ladder 商品阶梯价格 -->
<mapper namespace="com.rawchen.mall.coupon.mapper.SkuLadderMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.coupon.entity.SkuLadder">
		<id property="id" column="id" />
		<result property="skuId" column="sku_id"/>
		<result property="fullCount" column="full_count"/>
		<result property="discount" column="discount"/>
		<result property="price" column="price"/>
		<result property="addOther" column="add_other"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`sku_id`,
		`full_count`,
		`discount`,
		`price`,
		`add_other`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM sms_sku_ladder
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.coupon.entity.SkuLadder">
		SELECT
		<include refid="allColumnFiled"/>
		FROM sms_sku_ladder
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="fullCount!=null ">
				AND full_count like concat('%',concat(#{fullCount},'%'))
			</if>
			<if test="discount!=null ">
				AND discount like concat('%',concat(#{discount},'%'))
			</if>
			<if test="price!=null ">
				AND price like concat('%',concat(#{price},'%'))
			</if>
			<if test="addOther!=null ">
				AND add_other like concat('%',concat(#{addOther},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.coupon.entity.SkuLadder">
		INSERT INTO sms_sku_ladder
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{skuId}, #{fullCount}, #{discount}, #{price}, #{addOther}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.coupon.entity.SkuLadder">
		UPDATE sms_sku_ladder
		SET 
			<if test="skuId!=null ">
				sku_id = #{skuId}
,			</if>
			<if test="fullCount!=null ">
				full_count = #{fullCount}
,			</if>
			<if test="discount!=null ">
				discount = #{discount}
,			</if>
			<if test="price!=null ">
				price = #{price}
,			</if>
			<if test="addOther!=null ">
				add_other = #{addOther}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from sms_sku_ladder where id = #{id}
	</delete>

</mapper>
