<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- pms_attr_group 属性分组 -->
<mapper namespace="com.rawchen.mall.product.mapper.AttrGroupMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.product.entity.AttrGroup">
		<result property="attrGroupId" column="attr_group_id"/>
		<result property="attrGroupName" column="attr_group_name"/>
		<result property="sort" column="sort"/>
		<result property="descript" column="descript"/>
		<result property="icon" column="icon"/>
		<result property="catelogId" column="catelog_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`attr_group_id`,
		`attr_group_name`,
		`sort`,
		`descript`,
		`icon`,
		`catelog_id`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM pms_attr_group
		WHERE attr_group_id = #{attrGroupId}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.product.entity.AttrGroup">
		SELECT
		<include refid="allColumnFiled"/>
		FROM pms_attr_group
		<where>
			<if test="attrGroupId!=null ">
				AND attr_group_id like concat('%',concat(#{attrGroupId},'%'))
			</if>
			<if test="attrGroupName!=null and attrGroupName!=''">
				AND attr_group_name like concat('%',concat(#{attrGroupName},'%'))
			</if>
			<if test="sort!=null ">
				AND sort like concat('%',concat(#{sort},'%'))
			</if>
			<if test="descript!=null and descript!=''">
				AND descript like concat('%',concat(#{descript},'%'))
			</if>
			<if test="icon!=null and icon!=''">
				AND icon like concat('%',concat(#{icon},'%'))
			</if>
			<if test="catelogId!=null ">
				AND catelog_id like concat('%',concat(#{catelogId},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.product.entity.AttrGroup">
		INSERT INTO pms_attr_group
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{attrGroupId}, #{attrGroupName}, #{sort}, #{descript}, #{icon}, #{catelogId}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.product.entity.AttrGroup">
		UPDATE pms_attr_group
		SET 
			<if test="attrGroupName!=null and attrGroupName!=''">
				attr_group_name = #{attrGroupName}
,			</if>
			<if test="sort!=null ">
				sort = #{sort}
,			</if>
			<if test="descript!=null and descript!=''">
				descript = #{descript}
,			</if>
			<if test="icon!=null and icon!=''">
				icon = #{icon}
,			</if>
			<if test="catelogId!=null ">
				catelog_id = #{catelogId}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			attr_group_id = #{attrGroupId}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from pms_attr_group where attr_group_id = #{attrGroupId}
	</delete>

</mapper>
