<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- pms_brand 品牌 -->
<mapper namespace="com.rawchen.mall.product.mapper.BrandMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.product.entity.Brand">
		<result property="brandId" column="brand_id"/>
		<result property="name" column="name"/>
		<result property="logo" column="logo"/>
		<result property="descript" column="descript"/>
		<result property="showStatus" column="show_status"/>
		<result property="firstLetter" column="first_letter"/>
		<result property="sort" column="sort"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`brand_id`,
		`name`,
		`logo`,
		`descript`,
		`show_status`,
		`first_letter`,
		`sort`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM pms_brand
		WHERE brand_id = #{brandId}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.product.entity.Brand">
		SELECT
		<include refid="allColumnFiled"/>
		FROM pms_brand
		<where>
			<if test="brandId!=null ">
				AND brand_id like concat('%',concat(#{brandId},'%'))
			</if>
			<if test="name!=null and name!=''">
				AND name like concat('%',concat(#{name},'%'))
			</if>
			<if test="logo!=null and logo!=''">
				AND logo like concat('%',concat(#{logo},'%'))
			</if>
			<if test="descript!=null and descript!=''">
				AND descript like concat('%',concat(#{descript},'%'))
			</if>
			<if test="showStatus!=null ">
				AND show_status like concat('%',concat(#{showStatus},'%'))
			</if>
			<if test="firstLetter!=null and firstLetter!=''">
				AND first_letter like concat('%',concat(#{firstLetter},'%'))
			</if>
			<if test="sort!=null ">
				AND sort like concat('%',concat(#{sort},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.product.entity.Brand">
		INSERT INTO pms_brand
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{brandId}, #{name}, #{logo}, #{descript}, #{showStatus}, #{firstLetter}, #{sort}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.product.entity.Brand">
		UPDATE pms_brand
		SET 
			<if test="name!=null and name!=''">
				name = #{name}
,			</if>
			<if test="logo!=null and logo!=''">
				logo = #{logo}
,			</if>
			<if test="descript!=null and descript!=''">
				descript = #{descript}
,			</if>
			<if test="showStatus!=null ">
				show_status = #{showStatus}
,			</if>
			<if test="firstLetter!=null and firstLetter!=''">
				first_letter = #{firstLetter}
,			</if>
			<if test="sort!=null ">
				sort = #{sort}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			brand_id = #{brandId}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from pms_brand where brand_id = #{brandId}
	</delete>

</mapper>
