<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- pms_category 商品三级分类 -->
<mapper namespace="com.rawchen.mall.product.mapper.CategoryMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.product.entity.Category">
		<result property="catId" column="cat_id"/>
		<result property="name" column="name"/>
		<result property="parentCid" column="parent_cid"/>
		<result property="catLevel" column="cat_level"/>
		<result property="showStatus" column="show_status"/>
		<result property="sort" column="sort"/>
		<result property="icon" column="icon"/>
		<result property="productUnit" column="product_unit"/>
		<result property="productCount" column="product_count"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`cat_id`,
		`name`,
		`parent_cid`,
		`cat_level`,
		`show_status`,
		`sort`,
		`icon`,
		`product_unit`,
		`product_count`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM pms_category
		WHERE cat_id = #{catId}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.product.entity.Category">
		SELECT
		<include refid="allColumnFiled"/>
		FROM pms_category
		<where>
			<if test="catId!=null ">
				AND cat_id like concat('%',concat(#{catId},'%'))
			</if>
			<if test="name!=null and name!=''">
				AND name like concat('%',concat(#{name},'%'))
			</if>
			<if test="parentCid!=null ">
				AND parent_cid like concat('%',concat(#{parentCid},'%'))
			</if>
			<if test="catLevel!=null ">
				AND cat_level like concat('%',concat(#{catLevel},'%'))
			</if>
			<if test="showStatus!=null ">
				AND show_status like concat('%',concat(#{showStatus},'%'))
			</if>
			<if test="sort!=null ">
				AND sort like concat('%',concat(#{sort},'%'))
			</if>
			<if test="icon!=null and icon!=''">
				AND icon like concat('%',concat(#{icon},'%'))
			</if>
			<if test="productUnit!=null and productUnit!=''">
				AND product_unit like concat('%',concat(#{productUnit},'%'))
			</if>
			<if test="productCount!=null ">
				AND product_count like concat('%',concat(#{productCount},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.product.entity.Category">
		INSERT INTO pms_category
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{catId}, #{name}, #{parentCid}, #{catLevel}, #{showStatus}, #{sort}, #{icon}, #{productUnit}, #{productCount}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.product.entity.Category">
		UPDATE pms_category
		SET 
			<if test="name!=null and name!=''">
				name = #{name}
,			</if>
			<if test="parentCid!=null ">
				parent_cid = #{parentCid}
,			</if>
			<if test="catLevel!=null ">
				cat_level = #{catLevel}
,			</if>
			<if test="showStatus!=null ">
				show_status = #{showStatus}
,			</if>
			<if test="sort!=null ">
				sort = #{sort}
,			</if>
			<if test="icon!=null and icon!=''">
				icon = #{icon}
,			</if>
			<if test="productUnit!=null and productUnit!=''">
				product_unit = #{productUnit}
,			</if>
			<if test="productCount!=null ">
				product_count = #{productCount}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			cat_id = #{catId}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from pms_category where cat_id = #{catId}
	</delete>

</mapper>
