<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- pms_sku_images sku图片 -->
<mapper namespace="com.rawchen.mall.product.mapper.SkuImagesMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.product.entity.SkuImages">
		<id property="id" column="id" />
		<result property="skuId" column="sku_id"/>
		<result property="imgUrl" column="img_url"/>
		<result property="imgSort" column="img_sort"/>
		<result property="defaultImg" column="default_img"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`id`,
		`sku_id`,
		`img_url`,
		`img_sort`,
		`default_img`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM pms_sku_images
		WHERE id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.product.entity.SkuImages">
		SELECT
		<include refid="allColumnFiled"/>
		FROM pms_sku_images
		<where>
			<if test="id!=null ">
				AND id like concat('%',concat(#{id},'%'))
			</if>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="imgUrl!=null and imgUrl!=''">
				AND img_url like concat('%',concat(#{imgUrl},'%'))
			</if>
			<if test="imgSort!=null ">
				AND img_sort like concat('%',concat(#{imgSort},'%'))
			</if>
			<if test="defaultImg!=null ">
				AND default_img like concat('%',concat(#{defaultImg},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.product.entity.SkuImages">
		INSERT INTO pms_sku_images
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{id}, #{skuId}, #{imgUrl}, #{imgSort}, #{defaultImg}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.product.entity.SkuImages">
		UPDATE pms_sku_images
		SET 
			<if test="skuId!=null ">
				sku_id = #{skuId}
,			</if>
			<if test="imgUrl!=null and imgUrl!=''">
				img_url = #{imgUrl}
,			</if>
			<if test="imgSort!=null ">
				img_sort = #{imgSort}
,			</if>
			<if test="defaultImg!=null ">
				default_img = #{defaultImg}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from pms_sku_images where id = #{id}
	</delete>

</mapper>
