<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- pms_sku_info sku信息 -->
<mapper namespace="com.rawchen.mall.product.mapper.SkuInfoMapper">

	<resultMap id="entityResultMap" type="com.rawchen.mall.product.entity.SkuInfo">
		<result property="skuId" column="sku_id"/>
		<result property="spuId" column="spu_id"/>
		<result property="skuCode" column="sku_code"/>
		<result property="skuName" column="sku_name"/>
		<result property="skuDesc" column="sku_desc"/>
		<result property="catalogId" column="catalog_id"/>
		<result property="brandId" column="brand_id"/>
		<result property="skuDefaultImg" column="sku_default_img"/>
		<result property="skuTitle" column="sku_title"/>
		<result property="skuSubtitle" column="sku_subtitle"/>
		<result property="price" column="price"/>
		<result property="weight" column="weight"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="allColumnFiled">
		`sku_id`,
		`spu_id`,
		`sku_code`,
		`sku_name`,
		`sku_desc`,
		`catalog_id`,
		`brand_id`,
		`sku_default_img`,
		`sku_title`,
		`sku_subtitle`,
		`price`,
		`weight`,
		`create_time`,
		`update_time`
	</sql>

	<!-- 查询 -->
	<select id="get" resultMap="entityResultMap">
		SELECT 
		<include refid="allColumnFiled"/>
		FROM pms_sku_info
		WHERE sku_id = #{skuId}
	</select>

	<!-- 查询列表 -->
	<select id="findList" resultMap="entityResultMap" parameterType="com.rawchen.mall.product.entity.SkuInfo">
		SELECT
		<include refid="allColumnFiled"/>
		FROM pms_sku_info
		<where>
			<if test="skuId!=null ">
				AND sku_id like concat('%',concat(#{skuId},'%'))
			</if>
			<if test="spuId!=null ">
				AND spu_id like concat('%',concat(#{spuId},'%'))
			</if>
			<if test="skuCode!=null and skuCode!=''">
				AND sku_code like concat('%',concat(#{skuCode},'%'))
			</if>
			<if test="skuName!=null and skuName!=''">
				AND sku_name like concat('%',concat(#{skuName},'%'))
			</if>
			<if test="skuDesc!=null and skuDesc!=''">
				AND sku_desc like concat('%',concat(#{skuDesc},'%'))
			</if>
			<if test="catalogId!=null ">
				AND catalog_id like concat('%',concat(#{catalogId},'%'))
			</if>
			<if test="brandId!=null ">
				AND brand_id like concat('%',concat(#{brandId},'%'))
			</if>
			<if test="skuDefaultImg!=null and skuDefaultImg!=''">
				AND sku_default_img like concat('%',concat(#{skuDefaultImg},'%'))
			</if>
			<if test="skuTitle!=null and skuTitle!=''">
				AND sku_title like concat('%',concat(#{skuTitle},'%'))
			</if>
			<if test="skuSubtitle!=null and skuSubtitle!=''">
				AND sku_subtitle like concat('%',concat(#{skuSubtitle},'%'))
			</if>
			<if test="price!=null ">
				AND price like concat('%',concat(#{price},'%'))
			</if>
			<if test="weight!=null ">
				AND weight like concat('%',concat(#{weight},'%'))
			</if>
			<if test="createTime!=null ">
				AND create_time like concat('%',concat(#{createTime},'%'))
			</if>
			<if test="updateTime!=null ">
				AND update_time like concat('%',concat(#{updateTime},'%'))
			</if>
		</where>
	</select>

	<!-- 保存 -->
	<insert id="insert" parameterType="com.rawchen.mall.product.entity.SkuInfo">
		INSERT INTO pms_sku_info
 			(<include refid="allColumnFiled"/>)
		VALUES 
 			(#{skuId}, #{spuId}, #{skuCode}, #{skuName}, #{skuDesc}, #{catalogId}, #{brandId}, #{skuDefaultImg}, #{skuTitle}, #{skuSubtitle}, #{price}, #{weight}, #{createTime}, #{updateTime})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.rawchen.mall.product.entity.SkuInfo">
		UPDATE pms_sku_info
		SET 
			<if test="spuId!=null ">
				spu_id = #{spuId}
,			</if>
			<if test="skuCode!=null and skuCode!=''">
				sku_code = #{skuCode}
,			</if>
			<if test="skuName!=null and skuName!=''">
				sku_name = #{skuName}
,			</if>
			<if test="skuDesc!=null and skuDesc!=''">
				sku_desc = #{skuDesc}
,			</if>
			<if test="catalogId!=null ">
				catalog_id = #{catalogId}
,			</if>
			<if test="brandId!=null ">
				brand_id = #{brandId}
,			</if>
			<if test="skuDefaultImg!=null and skuDefaultImg!=''">
				sku_default_img = #{skuDefaultImg}
,			</if>
			<if test="skuTitle!=null and skuTitle!=''">
				sku_title = #{skuTitle}
,			</if>
			<if test="skuSubtitle!=null and skuSubtitle!=''">
				sku_subtitle = #{skuSubtitle}
,			</if>
			<if test="price!=null ">
				price = #{price}
,			</if>
			<if test="weight!=null ">
				weight = #{weight}
,			</if>
			<if test="createTime!=null ">
				create_time = #{createTime}
,			</if>
			<if test="updateTime!=null ">
				update_time = #{updateTime}
			</if>
		WHERE 
			sku_id = #{skuId}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from pms_sku_info where sku_id = #{skuId}
	</delete>

</mapper>
